Repository alanmaranto/Productivity-Design-System: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js:fix, npm run lint:json:fix, npm run lint:css:fix

fix: github actions
  .github/workflows/release.yml
  .github/workflows/review.yml
Due: none

fix(release): update build command
  .github/workflows/release.yml
Due: none

fix: updates node engine
  .github/workflows/release.yml
  .github/workflows/review.yml
Due: none

fix(job): delete lint json
  package.json
Due: npm run lint:json:fix

feat: add classnames to dev dependecy
  package-lock.json
  package.json
Due: npm run lint:json:fix

fix: add minireset.css to dev dependecy
  .gitignore
  package-lock.json
  package.json
Due: npm run lint:json:fix

feat: install semantic-release git
  package-lock.json
  package.json
Due: npm run lint:json:fix

fix: add semantic relese github
  package-lock.json
  package.json
Due: npm run lint:json:fix

fix: add master in semantic commit skip ci
  .releaserc.json
Due: npm run lint:json:fix

feat: add commitlint with commitizen
  .commitlintrc.json
  .husky/commit-msg
  package-lock.json
  package.json
Due: npm run lint:json:fix

refactor(storyshots): move storyshots to the own file folder
  atoms/Avatar/__snapshots__/Avatar.stories.js.snap
  atoms/Button/__snapshots__/Button.stories.js.snap
  atoms/Card/__snapshots__/Card.stories.js.snap
  atoms/Check/__snapshots__/Check.stories.js.snap
  atoms/Heading/__snapshots__/Heading.stories.js.snap
  atoms/Icon/__snapshots__/Icon.stories.js.snap
  atoms/Input/__snapshots__/Input.stories.js.snap
  atoms/Paragraph/__snapshots__/Paragraph.stories.js.snap
  atoms/Picture/__snapshots__/Picture.stories.js.snap
  jest.config.js
  layout/CenteredContent/CenteredContent.js
  layout/CenteredContent/__snapshots__/CenteredContent.stories.js.snap
  layout/Container/__snapshots__/Container.stories.js.snap
  layout/FullHeightContent/__snapshots__/FullHeightContent.stories.js.snap
  layout/Spacer/__snapshots__/Spacer.stories.js.snap
  layout/Spacer/components/Horizontal/__snapshots__/Horizontal.stories.js.snap
  layout/Spacer/components/Vertical/__snapshots__/Vertical.stories.js.snap
  molecules/AddButton/__snapshots__/AddButton.stories.js.snap
  molecules/ButtonIcon/__snapshots__/ButtonIcon.stories.js.snap
  molecules/Dropdown/__snapshots__/Dropdown.stories.js.snap
  molecules/Task/__snapshots__/Task.stories.js.snap
  storybook.test.js
  tokens/Token/components/__snapshots__/Color.stories.js.snap
  tokens/Token/components/__snapshots__/FontFamily.stories.js.snap
  tokens/Token/components/__snapshots__/FontSize.stories.js.snap
  tokens/Token/components/__snapshots__/Spacing.stories.js.snap
  tokens/storybook.test.js
Due: npm run lint:js:fix

refactor: move dependencies to dev dependencies
  package-lock.json
  package.json
Due: npm run lint:json:fix

chore: update release
  .github/workflows/release.yml
Due: none

fix: change secret name in release.yml to semantic release
  .github/workflows/release.yml
Due: none

fix: update main branch in release.yml in branch configuration
  .releaserc.json
Due: npm run lint:json:fix

fix: update semantic release
  .releaserc.json
  package.json
Due: npm run lint:json:fix

chore: remove default configuration semantic release
  .releaserc.json
  package.json
Due: npm run lint:json:fix

fix: delete repository
  package.json
Due: npm run lint:json:fix

revert: semantic release config
  .releaserc.json
  package.json
Due: npm run lint:json:fix

fix: update with main
  .releaserc.json
Due: npm run lint:json:fix

fix: ojala pase
  package-lock.json
  package.json
Due: npm run lint:json:fix

chore: update node engine from 14.15 to 14.17
  .github/workflows/release.yml
  .github/workflows/review.yml
Due: none

fix: release config
  .releaserc.json
Due: npm run lint:json:fix

Notes added by 'git notes add'
  2640470e625caa46f45ec7d004101c11412d5cb6
Due: none

style: change storybook styles to paremeters instead of args
  atoms/Avatar/Avatar.stories.js
  atoms/Icon/Icon.stories.js
  tokens/Token/components/Color.stories.js
  tokens/Token/components/Spacing.stories.js
Due: npm run lint:js:fix

fix(storybook-helper): snapshot tests with proper default props
  helpers/storybook.js
Due: npm run lint:js:fix

chore: add changelog
  .releaserc.json
  CHANGELOG.MD
Due: npm run lint:json:fix

feat(task): enable task type
  molecules/Task/Task.js
  molecules/Task/Task.module.css
Due: npm run lint:js:fix, npm run lint:css:fix

test: update snapshots
  atoms/Avatar/__snapshots__/Avatar.stories.js.snap
  atoms/Heading/__snapshots__/Heading.stories.js.snap
  atoms/Icon/__snapshots__/Icon.stories.js.snap
  molecules/Task/__snapshots__/Task.stories.js.snap
  tokens/Token/components/__snapshots__/Color.stories.js.snap
  tokens/Token/components/__snapshots__/Spacing.stories.js.snap
Due: none

revert: semantic release changelog config
  .releaserc.json
Due: npm run lint:json:fix

Notes added by 'git notes add'
  393b76165227e1db4379012ae6c32dd73b8700fb
Due: none

fix: update commitl lint with js file
  .commitlintrc.json
  .releaserc.json
  commitlint.config.js
Due: npm run lint:js:fix, npm run lint:json:fix

fix: delete semantic files and delete ignores custom config
  .releaserc.json
  commitlint.config.js
Due: npm run lint:js:fix, npm run lint:json:fix

Notes added by 'git notes add'
  9f16c66d3615d0df117f9f789a4465c2ea24cf4f
Due: none

feat(card, task, addbutton): add card draggable state, pending tasks, fix add button prop name
  assets/icons/angle-down.svg
  assets/icons/arrow-right.svg
  assets/icons/plus-circle.svg
  atoms/Button/Button.js
  atoms/Button/Button.module.css
  atoms/Button/Button.stories.js
  atoms/Card/Card.js
  atoms/Card/Card.module.css
  atoms/Card/Card.stories.js
  molecules/AddButton/AddButton.js
  molecules/AddButton/AddButton.stories.js
  molecules/AddButton/helpers.js
  molecules/Task/Task.js
  molecules/Task/Task.module.css
  molecules/Task/Task.stories.js
  molecules/Task/constants.js
Due: npm run lint:js:fix, npm run lint:css:fix

test(button, card, buttonicon, task): update snapshot tests
  atoms/Button/__snapshots__/Button.stories.js.snap
  atoms/Card/__snapshots__/Card.stories.js.snap
  molecules/ButtonIcon/__snapshots__/ButtonIcon.stories.js.snap
  molecules/Task/__snapshots__/Task.stories.js.snap
Due: none

Notes added by 'git notes add'
  b20bce0eacaea0e61893a5d35ccd2d2672421d3b
Due: none

style(tokens): modify and add border radius choices
  atoms/Card/Card.module.css
  molecules/Task/Task.module.css
  styles/tokens.css
  tokens/index.js
Due: npm run lint:js:fix, npm run lint:css:fix

style(button): change default border radius
  atoms/Button/Button.module.css
Due: npm run lint:css:fix

fix: pass handler in add button correctly and fix styles in pagraph and card
  atoms/Card/Card.module.css
  atoms/Paragraph/Paragraph.module.css
  molecules/AddButton/handlers.js
  molecules/Task/constants.js
Due: npm run lint:js:fix, npm run lint:css:fix

Path conditions:
  npm run lint:js:fix: any of: *.js
  npm run lint:json:fix: any of: *.json
  npm run lint:css:fix: any of: *.css
